.container {
    position: relative;
    width: 1920px;
    height: 825px;
    margin-top: 608px;
    background-color: rgba(45, 45, 45, 1);
}

.container_header {
    background-color: rgba(255, 191, 96, 1);
    width: 1920px;
    height: 30px;
}

.container_header h1 {
    margin-left: 841px;
    font-family: "Unbounded";
    font-weight: 900;
    font-size: 22px;
    line-height: 27.28px;
    color: rgba(45, 45, 45, 1);
}

.container_cards {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    margin-top: 84px;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    margin-bottom: 80px;
    position: relative;
    left: 438px;
    top: 55px;
    display: flex;
    gap: 157px; 
    justify-content: center;
}

@media (max-width: 1440px) {
    .container_header {
        width: 1440px;
    }
    .container_header h1 {
        margin-left: 601px;
    }
    .row {
        left: 0;
        margin-left: 196px;
    }
}
