.Name {
    width: 626px;
    height: 71px;
    border: 5px dashed #316BFF;
    position: absolute;
    margin-top: 298px;
    margin-left: 647px;
}

.Name h1{
    font-family: "Unbounded";
    font-size: 30px;
    font-weight: 500;
    line-height: 37.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 0px;
    margin-top: 15px;
}