@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&family=Unbounded:wght@200..900&display=swap');

.container_second {
    width: 100%;
    height: 350px;
    border-top: 2px dashed rgba(167, 167, 167, 1); 
    position: absolute;
    margin-top: 614px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_second .row {
  position: absolute;
  left: 0;
  margin-left: 388px;
  display: flex;
  justify-content: space-between;
}

.container_second .column {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-right: 92px;
}

.Text {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 600;
    line-height: 24.8px;
    text-align: left;
    position: absolute;
    left: 0;
    top: -24px;
    background-color: white;
    margin-left: 388px;
    padding: 10px;
}

.container_third {
    width: 100%;
    height: 521px;
    border-top: 2px dashed rgba(167, 167, 167, 1); 
    position: absolute;
    margin-top: 977px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;

}


.container_third .row {
    position: absolute;
    display: flex;
    left: 0;
    margin-top: 97px;
    margin-left: 388px;
}

.container_third .column {
    display: flex;
    flex-direction: column;
    margin-right: 92px;
    gap: 58px; 
  }

  .container_fourth {
    position: absolute;
    width: 100%;
    height: 681px;
    margin-top: 1552px;
    border-top: 2px dashed rgba(167, 167, 167, 1); 
}


.confirm {
    position: absolute;
    margin-top: 70px;
    margin-left: 388px;
}

.confirm label {
    position: absolute;
    font-family: "Montserrat";
    top: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.85px;
    margin-left: 30px;
    display: flex;
    text-align: left;
    width: 388px;
    height: 32px;
}

.confirm input {
    width: 20px;
    height: 20px;
}

.confirm button {
    position: absolute;
    margin-top: 62px;
    left: 0;
    width: 292px;
    height: 49px;
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    text-align: center;
    color: white;
}

.disabledButton {
   background-color: rgba(167, 167, 167, 1);
}

.activeButton {
    background-color: rgba(49, 107, 255, 1);
}

.activeInput {
    border: 1px solid rgba(167, 167, 167, 1);
    background-color: rgba(255, 255, 255, 1);

}

.inactiveInput {
    border: 1px solid rgba(167, 167, 167, 1);
    background-color: rgba(255, 255, 255, 1);

}

@media(max-width: 1440px) {
    .Text {
        margin-left: 146px;
    }

    .container_third .row  {
        margin-left: 146px;
    }

    .container_second .row  {
        margin-left: 146px;
    }

    .container_fourth .confirm {
        margin-left: 146px;
    }
}