services:
  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"

  postgres:
    image: "postgres:latest"
    environment:
      POSTGRES_USER: Logistic_app
      POSTGRES_PASSWORD: aqrevcnJa6w<?cHI~M=
      POSTGRES_DB: Application
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
