@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&family=Unbounded:wght@200..900&display=swap');

.container {
    border-bottom: 1px solid rgba(202, 202, 202, 1);
    width: 1920px;
    height: 91px;
    background-color: white;
}

.container h3 {
    position: absolute;
    margin-left: 1495px;
    margin-top: 35px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    color: #5C5C5C;
}

.logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 52px;
    gap: 5px;
}

.logo h1{
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    text-align: left;    
}

.logo h2 {
    font-family: "Syncopate";
    font-size: 32px;
    font-weight: 700;
    line-height: 33.31px;
}
    