
.inputSelectContainer {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 50px;
    color: rgba(167, 167, 167, 1);
}

.input {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5em;
    transition: border-color 0.3s;
}

.input:focus {
    border: 2px solid rgba(49, 107, 255, 1); /* Цвет при фокусе */
    outline: none; /* Удалить стандартный обвод */
}

.select {
    padding: 13px 15px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: left;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.select:focus {
    border: 2px solid rgba(49, 107, 255, 1); /* Цвет при фокусе */
    outline: none; /* Удалить стандартный обвод */

}

