@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&family=Unbounded:wght@200..900&display=swap');


.container {
    width: 100%;
    height: 1080px;
}

.Logo {
    top: 0;
    margin-top: 35px;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 52px;
    gap: 5px;
}

.Logo h1{
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    text-align: left;    
}

.Logo h2 {
    font-family: "Syncopate";
    font-size: 32px;
    font-weight: 700;
    line-height: 33.31px;
    text-align: left;
}

.formContainer {
    margin-top: 170px;
    margin-left: 753px;
    border: 5px dashed rgba(146, 107, 255, 1);
    border-radius: 5px;
    width: 414px;
    height: 313px;
    display: flex;

    flex-direction: column;
}

.formContainer h3 {
    margin-top: 35px;
    font-family: "Unbounded";
    font-size: 24px;
    font-weight: 500;
    line-height: 29.76px;
    text-align: center;
}

.formContainer p {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    margin-top: 20px;
    width: 300px;
    height: 60px;
    margin-left: 47px;
}

.formContainer .inputContainer {
    margin-top: 58px;
    margin-left: 47px;
}

.container button {
    position: absolute;
    top: 0;
    margin-top: 498px;
    left: 0;
    margin-left: 753px;
}