@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&family=Unbounded:wght@200..900&display=swap');



.information button{
    position: relative;
    left: 388px;
    margin-right: 30px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    color: rgba(73, 73, 73, 0.5);
}

.language {
    left: 1479px;
    top: 0;
    padding: 4px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    color: rgba(73, 73, 73, 0.5);
    position: absolute;
}

@media (max-width: 1440px) {
    .information button {
        left: 146px;
    }
    .language {
        left: 0;
        margin-left: 1241px;
    }
}