@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    width: 1470px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 113px;
    margin-left: 450px;
    border-bottom: 0.5px solid rgba(92, 92, 92, 0.5)
}

.container h1 {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: absolute;
    margin-left: 50px;
    margin-top: 18px;
}