.container {
    position: absolute;
    width: 1920px;
    height: 275px;
    border-top: 3px solid rgba(73, 73, 73, 0.5);
    background: rgba(45, 45, 45, 1);
    top: 3292px;
}

.itemsContainer {
    margin-left: 52px;
}

.Finder {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    color: white;
    position: absolute;
    top: 35px;

    display: flex;
    flex-direction: column; 
    
}

.imageContainer {
    display: flex; 
    gap: 10px; 
    margin-top: 10px; 
  }

.Finder img{
    display: flex;
    flex-direction: row;
}

.otherInfo {
    position: absolute;
    top: 35px;
    margin-left: 188px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    top: 202px;
}

.logo h1 {
    font-family: "Syncopate";
    font-weight: 700;
    font-size: 32px;
    line-height: 33.31px;
    color: rgba(255, 255, 255, 1);
}

.logo p {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 12px;
    line-height: 14.63px;
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1440px) {
    .container {
        width: 100%;

    }
    .itemsContainer {
        margin-left: 146px;
    }
}