.inputContainer {
    margin-bottom: 15px;
    position: relative; 
    width: 320px;
}

.input {
    width: 100%;
    height: 50px; 
    font-size: 14px;
    border: 1px solid #494949B2;
    border-radius: 5px;
    transition: border-color 0.3s;
    padding-left: 15px;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;

}

.input:focus {
    outline: none;
    border: solid 2px rgba(49, 107, 255, 1);
}

.input::placeholder {
    color: transparent; /* Полностью скрываем placeholder */
}

.label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(167, 167, 167, 1);
    transition: all 0.3s ease;
    pointer-events: none; 
    font-weight: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    line-height: 18.29px;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
        font-weight: "Montserrat";
    font-weight: 500;
    font-size: 13px;
    line-height: 15.85px;
    top: -10px;
    left: 0;
    color: rgba(49, 107, 255, 1);
}

.small {
    width: 270px;
    height: 50px;
}

.medium {
    width: 320px;
    height: 50px;
}

.large {
    width: 710px;
    height: 50px;
}

.midlarge {
    width: 418px;
    height: 50px;
}

.big {
    width: 660px;
    height: 50px;
  }
  
.largebig{ 
    width: 945px;
    height: 65px;
    border-radius: 0.5px;
    border: 0.5px solid rgba(167, 167, 167, 0.5);
  }