@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.container {
    width: 388px;
    height: 1310px;
    margin-left: 194px;
    position: absolute;
    top: 220px;
    border-right: 1px solid rgba(202, 202, 202, 1)
}

.user_info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 29px;
    margin-top: 39px;
}

.text h1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 13px;
    line-height: 15.85px;
    text-align: left;
    color: white;
}

.container input[type="checkbox"]:checked {
    background-color: rgba(49, 107, 255, 1) ; /* Фон при виборі */
    
  }

.container input[type="checkbox"]:checked::after {
  content: ""; /* Пустий контент для псевдоелемента */
  position: absolute;
  top: 5.5px;
  left: 9px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); /* Поворот для створення "галочки" */
  color: black;
}

.container input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(202, 202, 202, 1); /* Змінюємо колір бордера */
  appearance: none; /* Вимикаємо стандартний вигляд чекбокса */
  border-radius: 4px; /* Додаємо закруглені кути, якщо потрібно */
}

.text h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgba(167, 167, 167, 1);
    font-size: 12px;
    line-height: 14.63px;
    text-align: left;

}

.func_category {
    width: 240px;
    position: absolute;
    top: 0;
    margin-top: 113px;
    margin-left: 40px;
    height: 122px;
    display: flex;
    flex-direction: column;
    border-top: 1px dashed rgba(73, 73, 73, 1);
    border-bottom: 1px dashed rgba(73, 73, 73, 1);
}

.sliderContainer {
    position: absolute;
    top: 470px;
}

.sliderContainer input {
        width: 338px;
        height: 34px;
}

.row {
    display: flex;
    flex-direction: row;
    gap:10px;
    position: absolute;
    margin-top: 114px;
    left: 0;
}

.container h1 {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(92, 92, 92, 1);
    position: absolute;
    margin-top: 25px;
}

.aboutProduct {
    margin-top: 540px;
}

.container h2 {
   font-family: "Montserrat";
font-size: 20px;
font-weight: 700;
line-height: 24.38px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
 color: rgba(92, 92, 92, 1);
position: absolute;
margin-top: 74px;
}

.row img {
    position: relative;
    width: 55px;
    height: 20px;
    margin-top: 15px;
    right: 5px;
}

.func_category button {
    position: relative;
    top: 20px;
    width: 280px;
    height: 35px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 14px;
    line-height: 17.07px;
    text-align: left;
}

.func_category button:first-child {
    margin-bottom: 5px;
}

@media(max-width: 1440px) {
    .container {
        margin-left: 1120px;
    }
}



.container h3 {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(92, 92, 92, 1);
    margin-top: 370px;
    position: absolute;
}

.salaryRange{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 400px;
    position: absolute;
    top: 0;
}

.filters {
position: absolute;
top: 0;

margin-left: 0px;
}

.checkboxes {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
}



.checkboxes span{
font-family: "Open Sans";
font-size: 16px;
font-weight: 600;
line-height: 21.79px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
position: relative;
top: -6px;
margin-left: 15px;
}

.checkboxContainer label{
color: rgba(92, 92, 92, 1);
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 19.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


}

.checkboxContainer {
    position: absolute;
    margin-top: 204px;
    display: flex;
  flex-direction: column;
  gap: 11px;
}

.filters button{
    margin-top: 30px;
}