@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    width: 320px;
    height: 1668px;
    background: linear-gradient(180deg, #2D2D2D 0%, #373737 100%);
    margin-left: 1600px;
    position: absolute;
    top: 0;
}

.user_info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 29px;
    margin-top: 39px;
}

.text h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    line-height: 15.85px;
    text-align: left;
    color: white;
}

.text h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgba(167, 167, 167, 1);
    font-size: 12px;
    line-height: 14.63px;
    text-align: left;

}

.func_category {
    width: 240px;
    position: absolute;
    top: 0;
    margin-top: 113px;
    margin-left: 40px;
    height: 122px;
    display: flex;
    flex-direction: column;
    border-top: 1px dashed rgba(73, 73, 73, 1);
    border-bottom: 1px dashed rgba(73, 73, 73, 1);
}

.func_category button {
    position: relative;
    top: 20px;
    width: 280px;
    height: 35px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 14px;
    line-height: 17.07px;
    text-align: left;
}

.func_category button:first-child {
    margin-bottom: 5px;
}