@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&family=Unbounded:wght@200..900&display=swap');

.logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 52px;
    gap: 5px;
}

.logo h1{
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    text-align: left;    
}

.logo h2 {
    font-family: "Syncopate";
    font-size: 32px;
    font-weight: 700;
    line-height: 33.31px;
    text-align: left;
}

.container {
    position: absolute;
    width: 1920px;
    height: 113px;
    border-bottom: 0.5px solid rgba(73, 73, 73, 0.5);
}