.container { 
    position: absolute;
    width: 1920px;
    height: 529px;
    top: 103px;
}

.container h1 {
    font-family: "Unbounded";
    font-weight: 600;
    font-size: 40px;
}

.container h2 {
    position: relative;
    top: 0px;
    margin-top: 6px;
    line-height: 39.68px;
    font-family: "Unbounded";
    font-weight: 400;
    font-size: 32px;
}

.container h3 {
    line-height: 24.8px;
    position: relative;
    margin-top: 19px;
    font-family: "Unbounded";
    font-weight: 400;
    font-size: 20px;
    color: rgba(45, 45, 45, 0.5);
}

.container Button {
    position: absolute;
    margin-top: 25px;
}

.itemContainer {
    position: absolute;
    margin-top: 100px;
    margin-left: 386px;
}

.container img {
    position: absolute;
    margin-left: 746px;
    margin-top: 218px;
}

@media (max-width: 1440px) {
    .itemContainer {
        margin-left: 146px;
    }
    .container img {
        margin-left: 506px;
    }
}