.container {
    position: absolute;
    width: 1920px;
    height: 692px;
    top: 2025px;
    background: linear-gradient(180deg, #373737 0%, #2D2D2D 100%);

}

.itemContainer {
    left: 0;
    position: absolute;
    top: 0;
    margin-left: 390px;
     text-align: center;
    margin-top: 147px;
}

.itemContainer .Line {
    position: relative;
    left: 282px;
    top: 53px;
    z-index: 1
}

.itemContainer h1 {
    font-family: "Unbounded";
    font-weight: 500;
    font-size: 24px;
    color: white;
    line-height: 29.76px;
    margin-bottom: 25px;
}

.itemContainer p:first-of-type {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px; 
}

.itemContainer p:last-of-type {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0; 
}

.centeredImage {
    display: block;
    margin: 0 auto;
    margin-bottom: 34px;
}

.Truck {
    position: absolute;
    left: 660px;
    top: 20px;
}

.Line {
    position: relative;
    margin-top: 534px;
    margin-left: 660px;
    z-index: 1
}

@media (max-width: 1440px) {
    .container {
        width: 1440px;
    }
    .itemContainer {
        margin-left: 146px;
    }
    .Line {
        margin-left: 410px;
    }
}

