.container {
    width: 450px;
    height: 967px;
    position: absolute;
    top: 0;
    margin-top: 113px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.search { 
    margin-top: 15px;
}