
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  

  .primary {
    background-color: #316BFF;
    color: white;
    font-family: "Montserrat";
    font-weight: 700;
  }

  .primary:hover {
    background-color: rgba(29, 64, 153, 1);
  }
  
  .secondary {
    background-color: #926BFF;
    color: white;
    font-family: "Montserrat";
    font-weight: 700;
  }

  .danger {
    background-color: #dc3545;
    color: white;
  }

  .small {
    padding: 5px 10px;
    font-size: 12px;
  }
  
  .medium {
    width: 124px;
    height: 46px;
    font-size: 18px;
  }
  
  .large {
    width: 332px;
    height: 64px;
    font-size: 24px;
  }
  
  .midlarge {
    width: 251px;
    height: 49px;
  }

    .disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .largemid {
    width: 184px;
    height: 50px;
  }

  .ZaebavAndriy {
    width: 200px;
    height: 50px;
  }