.chatContainer {
    display: flex;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 500px;
  }
  
  .chatWindow {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .myMessage {
    align-self: flex-end;
    background-color: #6200ea;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .otherMessage {
    align-self: flex-start;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .inputContainer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .container input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .container button {
    padding: 10px 15px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  