.container {
    background: linear-gradient(180deg, #2D2D2D 0%, #1C1C1C 100%);
    width: 1920px;
    height: 652px;
    position: absolute;
    top: 2640px;
}

.container .Photo {
    position: absolute;
    top: 0;
    width: 474px;
    height: 458px;
    margin-left: 386px;
    margin-top: 97px;
}

.itemsContainer {
    top: 0;
    position: absolute;
    left: 980px;
    margin-top: 153px;
    text-align: center;

}

.itemsContainer .idea {
    display: block; /* Дозволяє зображенню займати місце як блочний елемент */
    margin: 0 auto; /* Центрує зображення */
    margin-bottom: 34px;
}


.itemsContainer h1 {
    color: white;
    font-family: "Unbounded";
    font-weight: 500;
    font-size: 24px;
    line-height: 29.76px;
    margin-bottom: 30px;
}

.itemsContainer h2 {
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    line-height: 29.76px;
}

.itemsContainer button {
    position: relative;
    margin-top: 30px;
}

.container .Arrow {
    position: absolute; 
    left: 0;
    top: 0;
    margin-left: 1430px;
    margin-top: 430px;
}

@media (max-width: 1440px) {
    .container {
        width: 1440px;
    }
    .container .Photo {
        margin-left: 146px;
    }
    .itemsContainer {
        left: 0;
        margin-left: 730px;
    }
 
}