.container {
    width: 388px;
    height: 105px;
    margin-top: 116px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 194px;
    border-bottom: 1px solid rgba(202, 202, 202, 1);
}




@media(max-width: 1440px) {
    .container {
        margin-left: 146px;
    }
}